@tailwind base;
@tailwind components;
@tailwind utilities;
input:focus, select:focus, textarea:focus, button:focus {
    --tw-ring-shadow:none !important;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}